div.body-carrinho {
  background-color: black;
  margin-bottom: 27.1%;
}

div.container-carrinho {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

div.produtos {
  border-bottom: solid 1px #eeeeee;
  padding-bottom: 20px;
  background-color: #fff;
  border: 0;
  width: 400px;
  border-radius: 5px;
  font-size: 30px;
  margin-bottom: 20px;
  padding: 10px;
}

div.produtos div.descricao {
  line-height: 23px;
}

div.produtos-desc {
  display: flex;
  justify-content: space-between;
}

div.produtos-desc small {
  text-align: center;
  background-color: #616161;
  padding: 4px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

div.btn-add-carrinho {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

div.footer-desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

div.btn-remover-carrinho button {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #f44336;
  border: 0;
}

div.btn-remover-carrinho button:hover {
  background-color: #f09892;
  color: #000;
}

div.finalizar-total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #f44336;
  font-size: 30px;
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  color: #fff;
}

div.finalizar button {
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  background-color: #f44336;
}

div.finalizar button:hover {
  background-color: #f09892;
  color: #000;
}

input.input-number {
  font-size: 20px;
  width: 65px;
  margin-left: 5px;
  margin-right: 5px;
}

div.container-text-cart {
  margin-top: 60px;
  background-color: #f44336;
  border-radius: 5px;
  width: 400px;
}
span.title-selecione {
  font-size: 40px;
  color: #fff;
}

div.container-title-endereco {
  margin-top: 60px;
  margin-bottom: 0px;
  text-align: center;
}

div.container-endereco {
  width: 400px;
}

button.endereco {
  background-color: #fff;
  text-align: start;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  font-size: 25px;
  margin-top: 20px;
  border: none;
}

button.endereco:hover {
  background-color: #f09892;
}

div.container-endereco-button-cad {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.container-endereco-button-cad button {
  background-color: #f44336;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  font-size: 25px;
  margin-top: 20px;
  color: #fff;
  border: none;
}

div.container-endereco-button-cad button:hover {
  background-color: #f09892;
  color: #000;
}

div.voltar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 5px;
  width: 400px;
}

div.voltar button {
  font-size: 20px;
  font-weight: bold;
}
