div.body-categoria {
  background-color: black;
}
div.container-text {
  margin-top: 60px;
}
span.title {
  font-size: 60px;
  color: #fff;
}

div.container-cat {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -40px;
}

a.btn-cat {
  background-color: #fff;
  border: 0;
  width: 300px;
  border-radius: 5px;
  font-size: 60px;
  margin-bottom: 10px;
  color: #000;
  text-align: center;
  text-decoration: none;
}

a.btn-cat:hover {
  background-color: rgb(216, 211, 211);
}
