div.body-categoria {
}
div.container-text {
  margin-top: 60px;
}
span.title {
  font-size: 60px;
  color: #000 !important;
}

div.container-cat {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -40px;
}

div.loja-fechada {
  background-color: #fb7595;
  border: 0;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  color: #000;
  text-align: center;
  text-decoration: none;
}

div.loja-fechada h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: -5px;
}

div.loja-fechada small {
  font-size: 25px;
}

a.btn-cat {
  background-color: #fb7595;
  border: 0;
  width: 300px;
  border-radius: 5px;
  font-size: 60px;
  margin-bottom: 10px;
  color: #000;
  text-align: center;
  text-decoration: none;
}

a.btn-cat:hover {
  background: #fb8da0;
}
