div.navbar {
  font-weight: bold;
  font-size: 25px;
  background: #fb4570 !important;
}

div.navbar button {
  font-weight: bold;
  font-size: 20px;
}

button.btn-carts span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background: none !important;
  border: none !important;
}

button.btn-danger {
  background: red;
  border: none;
}

div.modal {
  color: #000;
}

div.modal-header {
  background-color: #fb4570;
  color: #000;
}

div.modal-header h4 {
  font-size: 30px;
  font-weight: bold;
}

div.modal-footer {
  background-color: #fb4570;
}

div.modal-footer button {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

a.cadastrese {
  color: #000;
}

button.btn-primary {
  background: #b21368;
  border: none;
}

button.btn-primary:hover {
  background: #d67ba8;
}
