div.footer {
  background: #fb4570 !important;
  color: #000 !important;
  padding: 15px;
}

div.footer small.text-footer {
  font-size: 20px !important;
}

div.footer a.name {
  text-decoration: none;
  color: #000;
  font-weight: 900;
  margin-left: 5px;
  font-size: 18px;
}

div.footer a.name:hover {
  color: #f44336;
}
