div.footer {
  background-color: #343a40;
  color: #fff;
  padding: 15px;
}

div.footer small.text-footer {
  font-size: 20px !important;
}

div.footer a.name {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  margin-left: 5px;
  font-size: 18px;
}

div.footer a.name:hover {
  color: #f44336;
}
