div.body-carrinho {
}

div.container-carrinho {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

div.produtos-carrinho {
  border-bottom: solid 1px #eeeeee;
  padding-bottom: 20px;
  background-color: #fb7595;
  border: 0;
  width: 300px;
  border-radius: 5px;
  font-size: 30px;
  margin-bottom: 10px;
  padding: 10px;
}

div.produtos-desc {
  display: flex;
  justify-content: space-between;
}

div.produtos-desc small {
  text-align: center;
  background-color: #616161;
  padding: 4px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

div.btn-add-carrinho {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

div.footer-desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

div.btn-remover-carrinho button {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #b21368 !important;
  border: 0;
}

div.btn-remover-carrinho button:hover {
  background-color: #f09892;
  color: #000;
}

div.finalizar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #fb7595;
  font-size: 30px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

div.finalizar button {
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  background-color: #b21368 !important;
}

div.finalizar button:hover {
  background-color: #f09892 !important;
  color: #000;
}

input.input-number {
  font-size: 20px;
  width: 65px;
  margin-left: 5px;
  margin-right: 5px;
}

div.container-text-cart {
  margin-top: 60px;
  background-color: #fb7595 !important;
  border-radius: 5px;
  width: 300px !important;
}
span.title-cart {
  font-size: 60px;
  color: #000;
}
